<div class='card'>
  <div class='card-reader'>
    <h2>{{pageTitle}}</h2>
  </div>
  <div class='card-body' style="width: 100%; background-color: #eee">
    <div class='col-md-4'>
      <label  for="exampleFormControlInput1">Filter: </label>
      <input type='text' [(ngModel)]='listFilter' class="form-control">
      <h5>Filtered by: {{listFilter}}</h5>
    </div>  
  </div>
  <div class='table-responsive'>
    <table class='table' *ngIf='products && products.length'>
      <thead>
        <tr>
          <th style='text-align: center'>
            <button style='width: 120px' class='btn btn-primary' (click)='toggleImage()'>
              {{showImage ? 'Hide' : 'Show'}} Image
            </button>
          </th>
          <th>Product</th>
          <th>Code</th>
          <th>Available</th>
          <th>Price</th>
          <th>Ratings</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let product of filteredProducts'>
          <td style='text-align: center'>
            <img 
              *ngIf='showImage'
              [src]='product.imageUrl' 
              [title]='product.productName' 
              [style.width.px]='imageWidth' 
              [style.margin.px]='ImageMargin'
            >
          </td>
          <td>{{ product.productName | uppercase }}</td>
          <td>{{ product.productCode | lowercase | convertToSpaces:'-' }}</td>
          <td>{{ product.releaseDate | date:'dd/MM/yyyy' }}</td>
          <td style='text-align: right'>{{ product.price | currency:'R$':'symbol':'1.2-2' }}</td>
          <td>{{ product.starRating }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
