*, html {
  font-family: 'Franklin Gothic', Helvetica, Arial, sans-serif;
}
h1 {
  padding: 30px 60px;
}
h2 {
  background-color: #eee;
  padding: 10px;
  border-bottom: 4px solid #b1a8ee;
  font-weight: 400;
  font-size: 16pt;
}
thead {
  background-color: #c2b9ff;
  font-size: 16pt;
}
tbody > .hover-spot:hover {
  background-color: #c4bbff;
}
label {
  position: relative;
  top: 30px;
  display: inline;
  background: none;
  border: 0;
}