*, html {
  font-family: 'Franklin Gothic', Helvetica, Arial, sans-serif;
}
h1 {
  padding: 30px 60px;
}
h2 {
  background-color: #eee;
  padding: 10px;
  border-bottom: 4px solid #b1a8ee;
  font-weight: 400;
  font-size: 16pt;
}
thead {
  background-color: #c2b9ff;
  font-size: 16pt;
  transition: background-color .5s;
}
tbody > .hover-spot:hover {
  background-color: #c4bbff;
  transition: background-color .5s;
}
label {
  position: relative;
  top: 30px;
  display: inline;
  background: none;
  border: 0;
}
@media screen and (max-width: 768px) {
  .unviewable1 {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .unviewable2 {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .unviewable3 {
    display: none;
  }
}
