<div class='card'>
  <div class='card-reader'>
    <h2>{{pageTitle}}</h2>
  </div>
  <div class='card-body' style="width: 100%; background-color: #eee">
    <div class='col-md-4'>
      <!--label for="exampleFormControlInput1" class="form-control">Filter: </label-->
      <input type='text' [(ngModel)]='listFilter' class="form-control" placeholder="Filter">
    </div>  
  </div>
  <div class='table-responsive'>
    <table class='table' *ngIf='products && products.length'>
      <thead>
        <tr>
          <th width='100' style='text-align: center'>
            <button style='width: 120px' class='btn btn-primary' (click)='toggleImage()'>
              {{showImage ? 'Hide' : 'Show'}} Image
            </button>
          </th>
          <th>Product</th>
          <th width='100'>Code</th>
          <th width='120'>Available</th>
          <th width='100'>Price</th>
          <th width='100'>Ratings</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let product of filteredProducts' class='hover-spot'>
          <td style='text-align: center'>
            <img 
              *ngIf='showImage'
              [src]='product.imageUrl' 
              [title]='product.productName' 
              [style.width.px]='imageWidth' 
              [style.margin.px]='ImageMargin'
            >
          </td>
          <td>
            {{ product.productName | uppercase }}
          </td>
          <td style='text-align:right'>
            {{ product.productCode | lowercase | convertToSpaces:'-' }}
          </td>
          <td style='text-align:left'>
              {{ product.releaseDate | date:'dd/MM/yyyy' }}
          </td>
          <td>
            <span>R$</span>
            <span style='display:inline-block;width:60px;text-align:right'>
              {{ product.price | number:'1.2-2' | convertToCommas:'.' }}
            </span>
          </td>
          <td style='color:#fd0;text-shadow: #777 1px 1px 1px'>
            <pm-star [rating]='product.starRating'></pm-star>
          </td>
        </tr>
        <tr>
          <td colspan='6' style='background-color:#efeefe'>
            <span style='font-weight:700'>Filtered by:</span> {{listFilter}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
